/*レスポンシブル -スマホ用*/
@media screen and (max-width:479px){

.header {
    padding: 25% 30px; /*余白 https://techacademy.jp/magazine/8274*/
    height: 100vh;
    background-color: #4C75DF;
}

/*本文部分*/
.site-title {
    font-size: 2rem;
    text-align: center;
    color: #FFFFFF;
}

.profile {
    height: 125vh;
    background-color: #4C75DF;
}

.profile-title {
  border-bottom: 1px solid #ebebeb;
  font-size: 2rem;
  text-align: center;
  color: #FFFFFF;
}

.profile-summary {
  border-bottom: 1px solid #ebebeb;
  font-size: 2rem;
  text-align: center;
  color: #FFFFFF;
}

.profile-what {
  border-bottom: 1px solid #ebebeb;
  font-size: 2rem;
  text-align: center;
  color: #FFFFFF;
}

.textbox {
  padding: 2%;
  width: 100%;
  height: 30%;
  line-height: 1.5;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #4C75DF;
  text-decoration: none;
  font-size: 1.5rem;
}


/*ドロワー部分 https://saruwakakun.com/html-css/reference/nav-drawer*/
/*ヘッダーまわりはサイトに合わせて調整してください*/
header {
  padding: 6%;
  background: #FFFFFF;
}


#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 8%;
  height: 6%;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
/*中心線*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 6px;/*線の太さ*/
  width: 50px;/*長さ*/
  border-radius: 3px;
  background: #4C75DF;
  display: block;
  content: '';
  cursor: pointer;
}

/*中心線から下にどれだけオフセットしているか*/
#nav-open span:before {
  bottom: -15px;
}

/*中心線から上にどれだけオフセットしているか*/
#nav-open span:after {
  bottom: +15px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 60%;/*最大幅（調整してください）*/
  /*height: 100%; 高さ調整*/
  background: #4C75DF;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.content {
  background: #4C75DF;
  width: 100%;
  text-align: center;
  }

.content .menu {
  overflow-y: auto;
}

.content a {
  border-bottom: 1px solid #ebebeb;
  font-size: 2rem;
  font-weight:  bold;
  padding: 2rem 0 0 0;
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  width: 100%;
}

}


/*レスポンシブル -PC用*/
@media screen and (min-width: 480px){
.header {
    padding: 25% 30px; /*余白 https://techacademy.jp/magazine/8274*/
    height: 100vh;
    background-color: #4C75DF;
}

/*本文部分*/
.site-title {
    margin: 30px;
    font-size: 2rem;
    text-align: center;
    color: #FFFFFF;
}

.profile {
    height: 200vh;
    background-color: #4C75DF;
}

.profile-title {
  border-bottom: 1px solid #ebebeb;
  font-size: 2rem;
  text-align: center;
  color: #FFFFFF;
}

.profile-summary {
  border-bottom: 1px solid #ebebeb;
  font-size: 2rem;
  text-align: center;
  color: #FFFFFF;
}

.profile-what {
  border-bottom: 1px solid #ebebeb;
  font-size: 2rem;
  text-align: center;
  color: #FFFFFF;
}

.textbox {
  padding: 2%;
  width: 90vw;
  height: 20%;
  margin: 0 auto;
  line-height: 1.8;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #4C75DF;
  text-decoration: none;
  font-size: 1.2rem;
}


/*ドロワー部分 https://saruwakakun.com/html-css/reference/nav-drawer*/
/*ヘッダーまわりはサイトに合わせて調整してください*/
header {
  padding: 12px;
  background: #FFFFFF;
}


#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #4C75DF;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 45%;/*最大幅（調整してください）*/
  /*height: 100%; 高さ調整*/
  background: #4C75DF;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.content {
  background: #4C75DF;
  width: 100%;
  text-align: center;
  }

.content .menu {
  overflow-y: auto;
}

.content a {
  border-bottom: 1px solid #ebebeb;
  font-size: 1.2rem;
  padding: 1.5rem 0 0 0;
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  width: 100%;
}

}
